<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Addition Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Введите данные пользователя</h1>
<form action="#" th:action="@{/add}" th:object="${user}" method="post">

    <p>Имя: <input type="text" th:field="*{name}" /></p>
    <p>Фамилия: <input type="text" th:field="*{secondName}" /></p>
    <p>Возраст: <input type="text" th:field="*{age}" /></p>
    <p><input type="submit" value="Записать" /> <input type="reset" value="Очистить" /></p>
</form>
</body>
</html>