<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List of users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Список пользователей</h1>

<div>
    <nobr>
        <a th:href="@{/add}">Добавить пользователя</a> |
        <a th:href="@{/}">Назад на главную</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        <tr th:each ="user : ${listUsers}">
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getName()}">...</td>
            <td th:utext="${user.getSecondName()}">...</td>
            <td th:utext="${user.age}">...</td>
            <td><a th:href="@{/user-update/{id}(id=${user.getId})}">Изменить</a></td>
            <td><a th:href="@{/delete(id=${user.getId()})}">Удалить</a></td>
        </tr>
    </table>
</div>

</body>
</html>