<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Edition Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Введите новые данные пользователя</h1>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <br/>
    <label for="name">First Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="First Name">
    <br/>
    <br/>
    <label for="lastName">Second Name</label>
    <input type="text" th:field="*{secondName}" id="lastName" placeholder="Second Name">
    <br/>
    <br/>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <br/>
    <input type="submit" value="Изменить" />
</form>
</body>
</html>